
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>Components</h2>
        <mat-divider></mat-divider>
        <div class="content">
            <div class="row">
                <div class="col-3">
                    <mat-card class="bg-app" routerLink="buttons">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="buttonToggle" class="bg-app">
                        <mat-icon>format_align_left</mat-icon>
                        Buttons Toggle
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="dyColor" class="bg-app">
                        <mat-icon>color_lens</mat-icon>
                       Dynamic Color
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="elevation" class="bg-app">
                        <mat-icon>border_clear</mat-icon>
                        Elevation
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-3">
                    <mat-card class="bg-app" routerLink="ripple">
                        <mat-icon>opacity</mat-icon>
                        Ripple
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="menu" class="bg-app">
                        <mat-icon>menu</mat-icon>
                        Menu
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="badges" class="bg-app">
                        <mat-icon>edit_attributes</mat-icon>
                       Badges
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="dialog" class="bg-app">
                        <mat-icon>account_balance_wallet</mat-icon>
                       Dialog
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-3">
                    <mat-card class="bg-app" routerLink="card">
                        <mat-icon>dashboard</mat-icon>
                        Cards
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="tooltip" class="bg-app">
                        <mat-icon>mode_comment</mat-icon>
                        Tooltip
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="snackbar" class="bg-app">
                        <mat-icon>wb_iridescent</mat-icon>
                       Snackbar
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="" class="bg-app">
                        <mat-icon>dns</mat-icon>
                        Expansion Pannel
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-3">
                    <mat-card class="bg-app" routerLink="card">
                        <mat-icon>view_agenda</mat-icon>
                        Toolbar
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="tooltip" class="bg-app">
                        <mat-icon>table_chart</mat-icon>
                       Table
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="snackbar" class="bg-app">
                        <mat-icon>call_to_action</mat-icon>
                       Bottom Sheet
                    </mat-card>
                </div>
                <div class="col-3">
                    <mat-card routerLink="" class="bg-app">
                        <mat-icon>burst_mode</mat-icon>
                        Stepper
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
   
</div>
