<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Dynamic Color</h1>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-6">
                <p class="green">Text with color</p>
                <p class="accent">Text with color</p>
                <p class="warn">Text with color</p>
            </div>
            <div class="col-6">
                <div class="box bg text-color">
                    <p>This is a box</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>