
  
.box{
    height:200px;
    width: 200px;
    // color:white;
    // background:mat.get-color-from-palette($foreground) ;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}